body {
    font-family: Arial;
}

.Todo-grid,
.input-todo {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.Todo-name,
.Todo-date {
    font-size: 15px;
    padding: 6px;


}

.input-todo {
    margin-bottom: 10px;
    align-items: stretch;
}

.Todo-add {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.Todo-delete {
    background-color: darkred;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
}